<div class="container">
    <!-- parent section in flow -->
    <div class="parent-section">
        <div class="title">
            <h3>{{parentSection!.sectionId + '. ' + parentSection!.sectionTitle}}</h3>
            <p>{{parentSection!.sectionDescription}}</p>
        </div>
        <div *ngFor="let question of parentSection!.questions; let i = index" class="questions">
            <div *ngIf="question.questionType !== 'open'" class="question">
                <div class="question-title">
                    <input type="radio" name="question.questionId" (change)="addSelectedQuestion(i)" id="question.questionId"/>
                    <p>{{question.questionId + '. ' + question.questionString}}</p>
                </div>
                <div *ngIf="isQuestionSelected(i)" class="question-options">
                    <div *ngFor="let option of question.options; let j = index" class="option">
                        <input type="radio" name="option.option" [disabled]="isDisable(i, j)" (change)="addSelectedOptions(i, j)" id="option.option"/>
                        <p>{{option.option}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- selecting next section in flow -->
    <p>Next section: </p>
    <select id="options" (change)="setNextSection($event)">
      <option *ngFor="let section of sections" [value]="section.sectionId">{{section.sectionId + '. ' + section.sectionTitle}}</option>
    </select>
</div>