.container {
    height: 100vh;
    background-color: #F0F8FF;
}

.application {
    background-color: #F0F8FF;
}

.nav {
    margin-bottom: .5rem;
}

.pages {
    height: fit-content;
    display: flex;
    align-self: center;
}