<div class="container">
    <app-home-page *ngIf="currentPage == pageEnum.homePage"></app-home-page>
    <app-login-page *ngIf="currentPage == pageEnum.loginPage"></app-login-page>

    <div class="application" *ngIf="currentPage !== pageEnum.loginPage">
        <div class="nav">
            <app-nav-bar *ngIf="isLoggedIn" (logOut)="logOut()"></app-nav-bar>
        </div>
        <div class="pages">
            <app-profile-page *ngIf="currentPage == pageEnum.profilePage"></app-profile-page>
            <app-new-survey *ngIf="currentPage == pageEnum.newSurveyPage"></app-new-survey>
        </div>
    </div>
</div>