<div class="container">
    <div class="title">
        <input type="text" name="title" [value]="survey!.surveyTitle" id="" (change)="setSurvey($event, 'title')" placeholder="Enter Survey Title...">
        <input type="text" name="description" [value]="survey!.surveyDescription" (change)="setSurvey($event, 'description')" placeholder="Enter Survey Description...">
    </div>

    <div class="requires-login">
        <p>Login Required to Respond to Survey:</p>
        <input type="checkbox" name="isLoginRequired" id="1" (change)="setLoginRequired($event)">
    </div>

    <div class="sections">
        <div *ngFor="let section of survey!.sections">
            <h3>{{section.sectionId + '. ' + section.sectionTitle}}</h3> <br/>
            <p>{{section.sectionDescription}}</p>
        </div>
        <div class="add-section-cmd">
            <button (click)="addSection()">Add Section</button>
        </div>
    </div>

    <div class="start-section" *ngIf="survey!.sections.length !== 0">
        <p>Start section: </p>
        <select id="options" (change)="setStartSection($event)">
        <option *ngFor="let section of sections" [value]="section.sectionId">{{section.sectionId + '. ' + section.sectionTitle}}</option>
        </select>
    </div>

    <div class="flows">
        <div class="add-flows-cmd">
            <button (click)="addFlows()">Define Flows</button>
        </div>
    </div>

    <div class="save-survey">
        <button (click)="createSurvey()">Create Survey</button>
    </div>
</div>