.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.class-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.title {
    justify-self: center;
    text-align: center;
    margin: .5rem;
}